/*--------- fonts--------- */
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Bebas+Neue&family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Bebas+Neue&family=Bungee&family=Libre+Barcode+128+Text&family=Libre+Barcode+39+Text&family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Beau+Rivage&family=Bebas+Neue&family=Bungee&family=Libre+Barcode+128+Text&family=Libre+Barcode+39+Text&family=Patrick+Hand&family=Rye&display=swap');
/*----------couleurs site------------:*/
.ongle {
    background-color: var(--color_text);
    height: 14vh;
    width: 69.85vh;
    z-index: 4;
    margin-top: 60vh;
    margin-left: 30.1vw;
    position: fixed;
    border-radius: 2vh;
    opacity: 0; /* Initialement invisible */
    transform: scale(1); /* Réduit l'échelle à 50% */
    transition: opacity 5s ease, transform 5s ease; /* Transition pour l'opacité et l'échelle */
}

.ongle:hover {
    opacity: 1; /* Rendre l'élément complètement visible au survol */
    transform: scale(1); /* Revenir à l'échelle normale */
}



:root {
    --background_form    : #b2a599;
    --background_form_2  : #cdbfa4;
    --background_section : #E3D2B4;
    --background_fiches  : #DDD5C8;
    --color_text         : #454545;
}
/* ---------------------------------- */

body {
    overflow-x: hidden; /* Active le défilement horizontal */
    overflow-y: hidden; /* Empêche le défilement vertical */
    margin: 0; /* Supprime les marges par défaut */
}

.container {
    white-space: nowrap; /* Empêche le saut de ligne des éléments enfants */
    font-size: 0; /* Fixe un problème d'espacement entre les éléments inline-block */
    display: flex; /* Utilisation de flexbox pour les sections */
    background-color: #cdbfa4;
}

.section {
    flex: 0 0 100vw; /* Ajustement de la largeur des sections */
    height: 100vh; /* Hauteur de la section */
    display: inline-block; /* Place chaque section côte à côte */
    width: 100vw; /* Largeur égale à la largeur de la fenêtre */
    height: 100vh; /* Hauteur égale à la hauteur de la fenêtre */
    text-align: center; /* Centre le contenu de la section */
    font-size: 2em; /* Taille de la police */
    /* background-color: var(--background_section); */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}



.section-1{
    background-image: url(img/projects/wall.png);
}
.section-2{
    background-image: url(img/projects/wall-section-2.png);
}
.section-3{
    background-image: url(img/projects/wall-section-2.png);
}
.section-4{
    background-image: url(img/projects/wall-section-2.png);
}
.section-5{
    background-image: url(img/projects/wall-section-2.png);
}

.fiche {
    background-color: var(--background_fiches); /* Couleur de fond de la fiche */
    border-radius: 15px; /* Coins arrondis */
    overflow: hidden; /* Cache le contenu débordant de la fiche */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; /* Ombre légère autour de la fiche */
    height: 85vh; /* Hauteur de la fiche */
    width: 70vh; /* Largeur de la fiche */
    margin: 20px; /* Marge autour de la fiche */ 
    display: flex;
    flex-direction: column; 
    display: flex;
    align-items: center;
    z-index: 2;
}
.fiche-top-1{
    border-bottom: var(--color_text) dashed 2.7px;
    overflow: hidden;
    height: 27vh;
    width: 58vh;
}

.fiche-top-1 h3{
    color: var(--color_text);
    font-size: 10vh;
    transform: scaleY(2) scaleX(2);
    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 5px;
}

.fiche-center-1 {
    overflow: hidden;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.photo {
    height: 22vh;
    width: 27vh;
    z-index: 1;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.photo p {
    position: absolute;
    color: rgb(41, 140, 38);
    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.7vh;
    font-weight: bolder;
    border: solid rgb(41, 140, 38) 3px;
    border-radius: 10px;
    margin-top: 0;
    margin-left: 115%;
    margin-top: -45%;
    transform: translate(-100%);
    z-index: 4;
    letter-spacing: 0.5px;
    padding: 0.7vh;
    padding-inline: 1vh;
    rotate: 8deg;
}
.photo img {
    height: 22vh;
    width: 22vh;
    margin-bottom: 20px;
}

.identifiee {
    background-color: var(--color_text);
    height: auto; /* Modifier la hauteur pour s'adapter au contenu */
    width: 33vh;
    color: var(--background_fiches);
    align-items: center; /* Ajout de l'alignement au centre pour centrer le contenu */
}

.identifiee h2 {
    font-size: 50px;
    font-family: "Libre Barcode 128 Text", system-ui;
    font-weight: 500;
    font-style: normal;
    margin-top: 13px;
}

.identifiee p {
    font-size: 15px;
    margin-top: -30px; /* Ajout d'une marge au-dessus du paragraphe */
    padding-bottom: 10px;
    font-family: "Amatic SC", sans-serif;
    font-weight: 550;
    font-style: normal;
    transform: scaleX(1.5);
}

.fiche-bottom-1 {
    width: 56vh;
    height: 15vh;
    margin-top: 5vh;
    border-top: #454545 dashed 2.5px;
    color: #454545;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; /* Ajout de cette ligne pour aligner les éléments verticalement */
}

.fiche-bottom-1 h2 {
    font-size: 2.3vh; /* Taille de la police pour le titre */
    margin-right: 7.5vh;
}

.fiche-bottom-1 p {
    margin: 0; /* Supprime les marges par défaut du paragraphe */
    font-size: 1.4vh; /* Taille de la police pour le paragraphe */
    text-align: center; /* Centre le texte */
    overflow-wrap: break-word; /* Permet le retour à la ligne après chaque mot */
    max-width: 28vh; /* Largeur maximale du paragraphe */
    word-spacing: 0.4vw;
    padding-right: 20vw;
}


@keyframes slideIn {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.fiche {
    /* Vos styles actuels */
    /* Ajoutez les propriétés pour l'animation */
    animation: slideIn 1s ease forwards; /* Utilisation de l'animation avec une durée de 0.5 seconde */
}

/*------------------------- SECTION 2------------------ */


.fiche-top-2{
    border-bottom: var(--color_text) dashed 2.7px;
    overflow: hidden;
    height: 45vh;
    width: 60vh;
    display: flex;
    justify-content:first baseline;
    flex-direction: column;
}
.block-1, .block-2{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.langage{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.logo img{
    display: flex;
    align-items: center;
    height: 7vh;
    width: 7vh;
}
.titre h2{
    font-size: 2vh;
    margin-left: 0.5vh;
    margin-bottom: 2vh;
    text-decoration: solid 2px underline;
}
.nom{
    display: flex;
}
.nom p{
    font-size: 1.5vh;
    margin-right: 15vh;
}

.fiche-center-2 {
    overflow: hidden;
    height: 62vh;
    width: 58vh;
}

.icones {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 5 colonnes de largeur égale */
    gap: 20px;
    justify-content: center;
    grid-auto-flow: dense;
}

.icone img{
    width: 10vh;
    height: 10vh;
    margin-bottom: 2vh;
    border-radius: 5vh;
}


.icone {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icone, .identifiee, .fiche-top-3, .fiche-bottom-1 {
    transition: transform 0.3s ease;
    background-size: auto;
}

.icone:hover, .fiche-top-3:hover, .fiche-bottom-1:hover  {
    transform: scale(1.2) ;
}

.identifiee:hover {
    transform: scale(1.2) rotate(10deg);
    z-index: 99;
}

.icone span {
    font-size: 1.5vh;
    margin-top: -2vh;
}


.fiche-bottom-2 {
    border-top: var(--color_text) dashed 2.7px;
    overflow: hidden;
    height: 25vh;
    width: 58vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fiche-top-3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30vh;
    width: 58vh;
    margin-left: 1vh;
    margin-top: 4vh;
}

.photo-project img {
    height: 20vh;
    width: 55vh;
    border-radius: 15px; /* Coins arrondis */
    overflow: hidden; /* Cache le contenu débordant de la fiche */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; /* Ombre légère autour de la fiche */
    position: relative;
}

.text-projects {
    display: flex;
    flex-direction: column;
    height: 20vh;
    width: 55vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: absolute;
}

.text-projects h2{
    font-size: 2vh;
    color: var(--color_text);
    margin-left: -2.5vh;
}
.text-projects p {
    font-size: 1.4vh;
    width: 30vh;
    height: 22vh;
    margin-left: 5vh;
}

.photo-project img{
    transition: 1s ease-in-out;
    z-index: 3;
    border: solid 2px black;
}
.photo-project img.front:hover{
    opacity: 0;
    cursor: pointer;
} 

.temoigner h1{
    color: var(--color_text);
    font-size: 4vh;
    transform: scaleY(2) scaleX(2);
    font-family: "Bbas Neue", sans-serif;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 4px;
    margin-top: 8vh;
}

form{
    width: 65vh;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 4vh;
}
.input-group {
    display: flex;
    align-items: center;
}

#nom, #email, #objet{
    height: 4vh;
    width: 100%;
    margin-bottom: 0.4svh;
    background-color: var(--background_form);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px; /* Ombre légère autour de la fiche */
    border: none;
    color:var(--color_text);
    text-align: center;
}

#message {
    width: 100%;
    height: 14vh;
    background-color: var(--background_form);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px; /* Ombre légère autour de la fiche */
    border: none;
}
::placeholder{
    color:var(--color_text);
    font-size: 1.3vh;
    text-align: center;
}

button {
    margin-top: 10px;
    width: 100%;
    height: 5vh;
    background-color: var(--color_text);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px; /* Ombre légère autour de la fiche */
    border: none;
    color:var(--background_fiches);
    
}
button:hover{
    cursor: pointer;
    background-color: #626262;
}
